# Core dependencies
google-play-scraper
pandas
python-dotenv

# Utilities
requests
tqdm

# Optional (logging)
loguru
logging

numpy
transformers
scikit-learn
spacy
torch
hf_xet
cx_Oracle

matplotlib
seaborn
wordcloud